@OpenSansCondensedPath: "./fonts";
@KenyanCoffeePath: "./fonts";

/* OPEN SANS CONDENSED */

/* REGULAR */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('@{OpenSansCondensedPath}/OpenSans-CondLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* BOLD */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('@{OpenSansCondensedPath}/OpenSans-CondBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* ITALIC */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('@{OpenSansCondensedPath}/OpenSans-CondLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;;
}








/* KENYAN COFFEE */

/* REGULAR */
@font-face {
  font-family: 'Kenyan Coffee';
  src: url('@{KenyanCoffeePath}/kenyan-coffee-rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ITALIC */
@font-face {
  font-family: 'Kenyan Coffee';
  src: url('@{KenyanCoffeePath}/kenyan-coffee-rg-it.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* BOLD */
@font-face {
  font-family: 'Kenyan Coffee';
  src: url('@{KenyanCoffeePath}/kenyan-coffee-bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* BOLD ITALIC */
@font-face {
  font-family: 'Kenyan Coffee';
  src: url('@{KenyanCoffeePath}/kenyan-coffee-bd-it.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
